.container__options{
    justify-content: center;
    text-align: center;
}

.container__options button{
    margin: 20px;
    height: 35px;
    justify-content: center;
    text-align: center;
    width: 130px;
    font-size: 22px;
    border-radius: 5px;
}

.container__options button{
    text-decoration: none;
    color: black;
}

.container__options button:hover{
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: yellow;
}