.login-container__main{
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.login-container{
  background-color: #009213;
  height: 60vh;
  width: 400px;
  padding: 50px;
  border: 5px solid #01a817;
  border-radius: 5px;
}